---
import Layout from "../layouts/Layout.astro";
import TestComp from "../components/testcomp.vue";
import ContactMe from "../components/ContactMe.vue";
import NameAndFocus from "../components/NameAndFocus.vue";
import EducationExperinceText from "../components/EducationExperinceText.vue";
import Skill from "../components/Skill.vue";
import Project from "../components/Project.vue";
import SocialLinks from "../components/SocialLinks.vue";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class=" flex flex-row h-screen w-screen">
    <div class="mt-23 ml-20 w-3/6">
      <div class="w-fit">
        <div class="flex flex-row">
          <NameAndFocus /> <SocialLinks/>
        </div>

        <ContactMe />
      </div>

      <div class="flex flex-col w-fit">
        <h3 class="m-0 mt-7">Education and experience</h3>
        <div class="flex flex-row w-5/6 flex-wrap">
          <EducationExperinceText
            place="High school"
            position="Collins Hill High School"
            duration="2021-2025"
          />

          <EducationExperinceText
            place="Dual enrolment"
            position="Georgia Gwinnett College"
            duration="2024-2025"
          />

          <EducationExperinceText
            place="Undergrade software eng"
            position="Kennesaw state university"
            duration="2025-2029(future)"
          />

          <EducationExperinceText
            place="Baybol Clinic & reaserch"
            ,
            position="Website manager"
            ,
            duration="2023-now"
          />
        </div>
      </div>

      <div class="w-3/4">
        <h3 class="m-0 mt-7 w-fit">Tech Stack</h3>
        <p class="text-white/58 m-0 w-fit">
          These are the technologies i use to build out my ideas.
        </p>
        <div class="flex flex-row flex-wrap">
          <Skill logo="python" name="Python" />
          <Skill logo="rust" name="Rust" />
          <Skill logo="typescript" name="Typescript" />
          <Skill logo="tailwind" name="Tailwind" />
          <Skill logo="linux" name="Linux" />
          <Skill logo="mysql" name="MySQL" />
          <Skill logo="git" name="Git" />
          <Skill logo="pytorch" name="Pytorch" />
          <Skill logo="react" name="React" />
          <Skill logo="vuejs" name="Vue" />
          <Skill logo="docker" name="Docker" />
        </div>
      </div>
    </div>

    <div class="mt-23 ">
      <div class="flex flex-row">
        <h2>Projects</h2>
      </div>
      <div class="flex flex-col overflow-auto h-4/6 hide-scrollbar shadow-[inset_0_-8px_10px_-2px_rgba(0,0,0,0.3)] pr-3">
        <Project
          image="images/lable_review"
          name="The lable Review"
          description="A simple website i made for a client. it's purpose was to let people discover african stores in a similar way to Tripadvisor. I built it using flask and an sql database."
          skills={["python", "mysql"]}
        />
        <Project
          image="images/tailscale_systray"
          name="Tailscale System Tray"
          description="A system tray application written in python. it uses python and QT in order interface with the tailscale cli in order to make the experience of using tailscale on linux more convenient. "
          skills={["python", "linux"]}
        />
        <Project
          image="images/openpaper"
          name="Openpaper"
          description="Openpaer is a website and a application that i am developing in order to make customizing your linux desktop install more convinent. It lets you easily upload and download wallpaper's and dotfiles with the use of the website or the app/cli tool"
          skills={["python", "mysql","rust","typescript","linux","react"]}
        />
      </div>
    </div>
  </div>
</Layout>

<style>
.no-scrollbar{

}

</style>